<h1 class="text-center my-3">Lista de todos os filmes preferidos</h1>
  <table class="table">
    <div class="row">
      <div class="col-12">
        <thead>
          <th>Código do Filme</th>
          <th>Titulo</th>
          <th>Categoria</th>
          <th>Gênero</th>
          <th>Link da sinopse</th>
        </thead>
        <tbody>
          {{#each filme}}
           <tr>
              <th>{{this.id_filme}}</th>
              <th>{{this.titulo}}</th>
              <th>{{this.categoria}}</th>
              <th>{{this.genero}}</th>
              <th>
                <a href="{{this.link_sinopse}}">Clique aqui</a>
             </th>
             <th>
               <a href="/update/{{this.id_filme}}">Editar<i class="bi bi-pencilsquare" target="_blank" ></i></a>
             </th>
             <th> 
               <form class="borde-0 m-0" action="/remover" method="POST">
                  <input type="hidden" name="id_filme" value={{this.id_filme}}>
                  <input type="hidden" name="titulo" value={{this.titulo}}>
                  <input type="submit" value="Excluir" name="Excluir"/>
               </form>
             </th>
          </tr>
          {{/each}}
        </tbody>
      </div>
    </div>
  </table>